*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}

.BOOKS-main{

    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;

}

.BOOKS-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 0.5rem;
}

.BOOKS-title{
    color: rgba(133,99,186,255);
}
.BOOKS-title h1{
    
    font-size: 50px;
}
.BOOKS-title h2{
    padding: 5px;
}

.BOOKS-search{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.BOOKS-searchbox{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(133,99,186,255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding :4px 12px;
}

.BOOKS-searchbox input{
    border: none;
    background:transparent;
    padding: 10px;
}

.BOOKS-searchbox i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.BOOKS-searchbox i:hover{
    transform: scale(1.1);
}
.BOOKS-add-button{
    display: flex;
    justify-content: right;
    margin-right:2%;

    
}
.BOOKS-add-button .refresh-btn{
    width: 5%;
}


.BOOKS-add-button button {
    display:block;
    width: 10%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.BOOKS-add-button button:hover {
    background-color: #0056b3;
}

.add-button button:active {
    background-color: #004286;
}


.BOOKS-Ttable{
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.BOOKS-Ttitle{
    font-size: 2rem;
    font-weight: 600;
    color: rgba(113, 99, 186, 255);
    padding-bottom: 10px;
}
.BOOKS-container{
    width: 100%;
}

.BOOKS-table table{
    width: 100%;
    border-collapse: collapse;
}

.BOOKS-thead thead{
    background: rgba(113, 99, 186, 255);
    color: #fff;
}

.BOOKS-Ttable th{
    padding: 15px;
    text-align: left;
}

.BOOKS-Ttable tbody{
    background: #f2f2f2;
}

.BOOKS-Ttable td{
    padding: 15px;
    font-size: 14px;
    color: #333;
}

.BOOKS-Ttable tr:nth-child(even){
    background: #fff;
}

.BOOKS-Ttable tfoot{
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: rgba(113, 99, 186, 255);
}
#fn-btn{
    align-items: center;
    gap: 2%;
    display: flex;
}
.delete-btn {
    /*background: rgba(113, 99, 186, 255);*/
    background: red;
    width:25%;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}
.edit-btn{
    width:25%;
    float:right;
}
.delete-btn:hover {
    background-color: #d32f2f;
}

.bxs-trash{
    color: white;
    font-size: 15px;
}



.BOOKS-Ttable tfoot td{
    padding: 15px;
}
