/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
     /*background-color: #f2f2f2;
      
    justify-content: center;
    align-items: center;//
    
}*/
.Forgetmain{
    background: rgba(133,99,186,0.65);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}


.Forgetcontainer {
    max-width: 400px;
    background: #ebe9e9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Forgetpassword-form {
    max-width: 95%;
}

.Forgetpassword-form h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.Forgetpassword-form p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.Forgetform-group {
    margin-bottom: 15px;
}

.Forgetform-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.Forgetform-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    
    background-color: #007bff;
    color: #fff;
    border: none;
    
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004286;
}
.Forgetpassword-form a{
    margin:45%;
}